/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: #EED6D3;
}
.navbar{
	background-color: #67595E;
}
#navbg{
	background-color: #67595E;
	text-align: right;
	text-color: white;

}

h3{
	background-color: #67595E;
	padding: 12px;
}
#formbg{
	background-color: #A49393;
	height: 50;
}
#footer{
	background-color:#67595E ;
	padding: 10px;
}
#img-fluid{
	text-align: center;
}
